* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.material-icons {
    font-size: 10rem;
}

.lg-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text {
    font-size: 1.5rem;
}

#dynamic {
    position: relative;
    display: inline-block;  /*이걸해야 텍스트 길이에 따라서 변하게 된다*/
}

#dynamic::after {   /*after라는 가상요소를 만든다*/
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;   /*커서의 위치 조절*/
    width: 4px;
    height: 100%;   /*여기서 heights는 p태그의 높이를 말함*/
    background-color: white;
}

#dynamic.active::after {    /*active있으면 커서가 사라짐*/
    display: none;
}